<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
    <div class="main-container">
        <div class="title">
            Log in to Talthur
        </div>
        <div class="login-failure"></div>
        <form action="" method="post">
            <input type="text" placeholder="username">
            <input type="text" placeholder="password">
            <div class="login-button">
                <div>Log In</div>
            </div>
        </form>
        <div class="forgot-password-line">
            <a href="#">Forgot password?</a>
            <a href="#">Sign up for Talthur</a>
        </div>


        <script src="./js/app.js"></script>
</body>

</html>